@tailwind base;
@tailwind components;
@tailwind utilities;

li{
  cursor: pointer;
}
.ant-drawer-content{
  background-color: #712cf9 !important;
  color:  white !important;
}
.ant-drawer-header-title{
  justify-content: space-between !important;
  flex-direction: row-reverse !important;
}
:where(.css-dev-only-do-not-override-161f05s).ant-drawer .ant-drawer-title {
  flex: 0 !important;
}